build
*.pyc
*.pyo
*.tmp*
*.orig
*.komodoproject
cover
.coverage
*.sif
*.bak
*.out
data/
*.npy
*.mp4
*.avi
slurm_files/*
slurm*
copilot_summary/*
.DS_Store
__pycache__/
*.egg-info/
dist/
.ipynb_checkpoints/